* {
    box-sizing: border-box;
}

@font-face {
    font-family: sans;
    src: url(./fonts/sans.woff);
    font-weight: normal;
}

html,
body {
    margin: 0;
    font-family: sans, sans-serif;
    background: #f1f1f1;
}

p {
    line-height: 120%;
}
.lead {
    line-height: 120%;
}

ul {
    margin: 0;
}

p,
.btn,
h2,
h3,
h4,
h5,
h6,
li,
b {
    font-weight: normal;
    font-size: calc(16px + 1vw);
}

a {
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
}

img {
    display: block;
}
#theGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media (max-width: 1400px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#theGrid h3 {
    font-size: 14px;
}

#theGrid a {
    text-align: center;
}

#theGrid a img {
    transition: all 0.4s ease;
}
#theGrid a:hover img {
    opacity: 0.8;
}

#theGrid img {
}

img {
    width: 100%;
}

.p15 {
    padding: 15px;
}
h1,
.lead {
    font-size: calc(16px + 2vw);
}

.meta {
    font-size: 16px;
}

#logo {
    width: 400px;
}

a {
    text-decoration: none;
    color: #ff0000;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.m-top-50 {
    margin-top: 50px;
}

.m-bot-50 {
    margin-bottom: 50px;
}

.m-bot-10 {
    margin-bottom: 10px;
}

#silk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    transition: opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

body.modalActive #silk {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
}

#modal {
    position: fixed;
    top: 0;
    right: -55%;
    width: 50%;
    height: 100vh;
    z-index: 10001;
    background: #f1f1f1;
    transition: right 0.4s ease;
    overflow-y: scroll;
}

@media (max-width: 1600px) {
    #modal {
        width: 75%;
        right: -80%;
    }
}

@media (max-width: 992px) {
    #modal {
        width: 85%;
        right: -90%;
    }
}

#modalHeader {
}

#modalContent {
    padding: 15px;
}

#modalContent .lead {
    margin-bottom: 10px;
}

body.modalActive #modal {
    right: 0;
}

.btn {
    padding: 10px 20px;
    background: #ff0000;
    display: inline-block;
    border-radius: 25px;
    color: #f1f1f1;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ff0000;
    text-align: center;
    min-width: 200px;
}

.pill {
    padding: 10px 20px;
    background: #f1f1f1;
    display: inline-block;
    border-radius: 25px;
    color: #ff0000;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
}

.btn:hover {
    background: black;
    border-color: black;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.4s ease;
    background: #f1f1f1;
    z-index: 20000;
}

#preloader * {
    color: black;
}

#preloader.hide {
    top: -110vh;
}

p a {
}

p.lead a {
}

nav {
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;

    width: 100%;
    z-index: 9000;
}

nav h1 {
    margin: 0;
}

header {
}

header h1 {
    font-size: calc(16px + 5vw);
    line-height: 100%;
    max-width: 75%;
}

@media (max-width: 768px) {
    header {
    }

    header h1 {
        max-width: 100%;
    }
}

header a {
}

.m-bot-0 {
    margin-bottom: 0;
}

@media (max-width: 1300px) {
    header {
        width: 100%;
    }
}

.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0;
}

.browser-mockup:before {
    display: block;
    position: absolute;
    content: "";
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: "";
    top: -2em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
}

.browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: "";
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
}

.browser-mockup > * {
    display: block;
}

.browser-mockup {
    margin: 15px;
    flex: 1;
}

.m-top-15 {
    margin-top: 15px;
}
