* {
    box-sizing: border-box;
}

@font-face {
    font-family: sans;
    src: url(./assets/sans.woff);
    font-weight: normal;
}
html,
body {
    margin: 0;
    font-family: sans, sans-serif;
    background: #eeeeee;
}

p {
    line-height: 110%;
}
.lead {
    line-height: 100%;
}

ul {
    margin: 0;
}

p,
.btn,
h1,
h2,
h3,
h4,
h5,
h6,
li,
b {
    font-weight: normal !important;
    font-size: calc(10px + 1vw);
}

a {
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
}

img {
    display: block;
}
#theGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

@media (max-width: 1400px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}

#theGrid h3 {
    font-size: 14px;
}

#theGrid a {
    text-align: center;
}

#theGrid a img {
    transition: all 0.4s ease;
}
#theGrid a:hover img {
    opacity: 0.8;
}

#theGrid img {
}

img {
    width: 100%;
}

.p15 {
    padding: 15px;
}
h1,
.lead {
    font-size: calc(16px + 2vw);
}

#logo {
    width: 400px;
}

a {
    text-decoration: none;
    color: #2000a1;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.m-top-50 {
    margin-top: 50px;
}

.m-bot-50 {
    margin-bottom: 50px;
}

#silk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    transition: opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

body.modalActive #silk {
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
}

#modal {
    position: fixed;
    top: 0;
    right: -55%;
    width: 50%;
    height: 100vh;
    z-index: 10001;
    background: #f1f1f1;
    transition: right 0.4s ease;
    overflow-y: scroll;
}

@media (max-width: 1200px) {
    #modal {
        width: 75%;
        right: -80%;
    }
}

#modalHeader {
}

#modalContent {
    padding: 25px;
}

body.modalActive #modal {
    right: 0;
}

.btn {
    padding: 10px 20px;
    background: #2000a1;
    display: inline-block;
    border-radius: 25px;
    color: white;
    transition: background-color 0.4s ease;
}

.btn:hover {
    background: black;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.4s ease;
    background: #2000a1;
    z-index: 20000;
}

#preloader.hide {
    top: -100vh;
}

p a {
    border-bottom: 2px solid #2000a1;
}

p.lead a {
    border-bottom: 2px solid #2000a1;
}

header {
    width: 50%;
    margin-bottom: 100px;
}
