* {
    box-sizing: border-box;
}

@font-face {
    font-family: sans;
    src: url(./assets/Inter-Regular.woff);
    font-weight: normal;
}
html,
body {
    margin: 0;
    font-family: sans, sans-serif;
    background: #eeeeee;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
b {
    font-weight: normal !important;
    font-size: 25px;
}

a {
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
}

#theGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1400px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    #theGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}

#theGrid h3 {
    font-size: 14px;
}

#theGrid a {
    text-align: center;
    margin-right: 15px;
}

#theGrid a img {
    transition: all 0.4s ease;
}
#theGrid a:hover img {
    opacity: 0.8;
}

#theGrid img {
}

img {
    width: 100%;
}

.p15 {
    padding: 15px;
}

.lead {
    font-size: 200%;
}

a {
    text-decoration: none;
    color: blue;
}
.container {
    width: 100%;
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.m-top-50 {
    margin-top: 50px;
}

.m-bot-50 {
    margin-bottom: 50px;
}
